#cart p{
    position: relative;
    bottom: 55%;
    left: 100%;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: white;
    text-align: center;
}
#cart img{
    position: relative;
    top: 25%;
}