#Detail{
    background-color: #414E89;
    border-radius: 10px;
    height: fit-content;
    margin: 0 5%;
    padding: 2% 5% 5% 5%;
    color: white;
    display: grid;
    grid-template-areas: "img datos" "img controls" "img cart";
    grid-gap: 2%;
    #imgProduct{
        grid-area: img;
        border: 2px solid #4faee1;
        width: fit-content;
        filter: drop-shadow(0px 0px 10px #4faee1);
    }
    #datos{
        grid-area: datos;
        padding: 10% 0;
    }
    #controls{
        grid-area: controls;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: flex-start;
    }
    #cartButton{
        grid-area: cart;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        #toCart{
            width: 60%;
            padding: 2%;
            border: 2px solid #4faee1;
            border-radius: 10px;
            filter: drop-shadow(0px 0px 10px #4faee1);
            background-color: inherit;
            color: white;
            font-size: large;
            transition: 1s;
        }
    }
}
@media screen and (max-width: 480px){
    #Detail{
        grid-template-areas: "img img" "datos datos" "controls controls" "cart cart";
        #imgProduct{
            width: 100%;
            border-radius: 10%;
            img{
                max-width: 100%;
            }
        }
        #cartButton{
            margin-bottom: 5%;
        }
    }
}